@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@300&family=Passions+Conflict&display=swap');

.ContentsWrapper{
    width:100vw;
    height: auto;
}

.BlogContentsWrapper{
    width:100vw;
    height: auto;
    display: flex;
}

.BlogTitleWrapper{
    width:30vw;
    height: auto;
    position: relative;
    top:15vh;
    left: 5vw;
    text-align: center;
    margin-right: 5rem;
}

.BlogPageTitle{
    font-family: 'Caveat', cursive;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    display: inline-block;
    border-bottom: 2px solid #F6ADC6;
    padding-bottom: 1.5rem;
}

.BlogPageSubTitle{
    font-family: 'IBM Plex Sans JP', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.BlogElementsWrapper{
    width: 80vw;
    height: auto;
    margin-top: 15vh;
}

.BlogListWrapper{
    width: 80vw;
    height: auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.BlogElements{
    margin: 1rem;
}

.ImageWrapper{
    width: 300px;
    height:200px;
    align-items: center;
    object-fit: cover;
}

.BlogDate{
    font-family: 'Caveat', cursive;
    font-family: 'Roboto Slab', serif;
    padding-top:1rem;
    font-size: 1rem;
    margin:1rem;
}

.BlogTitle{
    font-family: 'IBM Plex Sans JP', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    margin:1rem;
}

.ToBlogListWrapper{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

@media screen and (max-width:900px) {
    .BlogContentsWrapper{
        flex-direction: column;
    }
    .BlogTitleWrapper{
        position: static;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
    }
    .BlogPageTitle{
        font-size: 1.5rem;
    }
    .BlogPageSubTitle{
        font-size: 1rem;
    }
    .BlogElementsWrapper{
        width: 100vw;
        margin-top: 0;
    }
    .BlogListWrapper{
        gap:0;
    }
    .BlogListWrapper{
        width: 100vw;
        padding: 0;
    }
    .BlogElements{
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    .ImageWrapper{
        width: 400px;
        height: 200px;
    }
    .BlogTitle{
        font-size: 1.1rem;
    }
}
