@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@300&family=Passions+Conflict&display=swap');

.PrevWrapper{
    position: relative;
    width: 90vw;
    height: auto;
    top:10vh;
    left:2vw;
    display: flex;
}

.PrevHome{
    font-size:1rem;
    letter-spacing: 0.2rem;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto Slab', serif;
    margin-left:2rem;
}

.PrevHome::after{
    position: absolute;
    bottom: -4px;
    left: 2rem;
    content: '';
    width: 3.5rem;
    height: 1px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.PrevHome:hover::after {
    transform: scale(1, 1);
}

.MiddleIcon{
    font-size:1rem;
    margin-left:2rem;
}

.PrevNews{
    font-size:1rem;
    letter-spacing: 0.2rem;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto Slab', serif;
    margin-left:2rem;
}

.ContentsWrapper{
    width:100vw;
    height: auto;
    margin-bottom: 2rem;
}

.NewsContentsTitle{
    width: 50vw;
    position: relative;
    top:10vh;
    left:10vw;
}

.Title{
    letter-spacing: 0.8rem;
    font-size: 2.5rem;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto Slab', serif;
}

.NewsSubTitle{
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-family: 'IBM Plex Sans JP', sans-serif;
}

.NewsElementWrapper{
    width:50vw;
    height: auto;
    padding: 0;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.NewsDate{
    font-family: 'IBM Plex Sans JP', sans-serif;
    padding-top:2rem;
    font-size: 1rem;
}

.NewsElememts{
    list-style: none;
    padding-bottom: 1.5rem;
    border-bottom: 0.5px solid black;
    font-family: 'IBM Plex Sans JP', sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
}

@media screen and (max-width:900px) {
    .Title{
        font-size: 1.4rem;
        letter-spacing: 0.5rem;
    }
    .NewsSubTitle{
        font-size:0.6rem;
        letter-spacing: 0.2rem;
    }
    .NewsDate{
        font-size:0.5rem;
    }
    .NewsElememts{
        font-size: 0.8rem;
        padding-bottom: 0.6rem;
    }
}