@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@300&family=Passions+Conflict&display=swap');

.ContentsWrapper{
    width: 100vw;
    height: auto;
    text-align: center;
    margin-top: 2rem;
    background-color: #FFF6F7;
    font-family: 'IBM Plex Sans JP', sans-serif;
}

.TitleWrapper{
    display: flex;
    justify-content: center;
}

.Title{
    border-bottom: 3px solid #F172A3;
    font-size: 2rem;
}

.Text{
    font-size: 1.2rem;
}

.Attention{
    margin:0;
}

@media screen and (max-width:900px) {
    .Title{
        font-size: 1.4rem;
    }
    .Text{
        font-size: 1rem;
    }
}